.flex {
    display: flex;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-align-start {
    text-align: start;
}

.justify-start {
    justify-content: start;
}

.align-seftstart {
    align-items: self-start;
}

.justify-spacebetween {
    justify-content: space-between;
}

.justify-spacearound {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.nav-button {
    color: grey;
    font-size: 20px;
    background-color: black;
    padding: 5px 5px;
    border: none;
    font-weight: 700;
}

.nav-button-right {
    color: grey;
    font-size: 17.5px;
    background-color: black;
    padding: 0px 20px;
    border: none;
    font-weight: 700;
}

.footer-anchor {
    /* text-decoration: none;
    color: grey; */
    margin-bottom: 8px !important;
    text-decoration: none !important;
    line-height: inherit !important;
    border: none !important;
    padding: 0px !important;
    color: var(--text-subdued, #656565) !important;
}

.truncate {
    width: 150px;
    /* Adjust width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

